nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
    

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
 

.outter-badge {
    position: relative;
    margin: 10px;
    width: 45px;
  }
.inner-badge {
    display: table;
    position: absolute;
    top: 9px;
    right: 3px;
    background-image: url('/static/red_dot.ico');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
  }
.inner-badge p{
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    color: white
  }
  .circle {
    background: #bd2644;
    position: absolute;
    top: 5px;
    right: 2px;
    width: 23px; 
    height: 23px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    color: white
  }
  
