{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
        <th>
            Stock
        </th>
        <th>
            Shares Purchased
        </th>
        <th>
            Time and Date
        </th>
        </tr>
    </thead>

{% for stock in range(lenn) %}

    <tr>

        <td>
            {{ historyindex[stock]["stock"] }}
        </td>
        <td>
            {{ historyindex[stock]["shares"] }}
        </td>
        <td>
            {{ historyindex[stock]["time"] }}
        </td>


    </tr>

{% endfor %}

</table>


{% endblock %}
