<!DOCTYPE html>
<html>

  {% extends "layout.html" %}

  {% block title %}
      Homepage
  {% endblock %}
  

{% block main %}
<body>

<style>
      .outter-badge{
        cursor: pointer;
    }
    #profilepic {
      width: 100px;
      margin-bottom: 10px;
    }

    .badge
    {
      color:white;
      
    }
    
    #paymentphoto {
      width: 40px;
      min-width: 40px;
      margin-bottom: 5px;
      flex-shrink: 0;
    }


</style>
<div class="row">




  <div class="col-sm-7">
    <div class="card">

      <div class="card-header">
        <ul class="nav nav-pills card-header-pills" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="personallog-tab" data-toggle="tab" href="#personallog" role="tab" aria-controls="personallog" aria-selected="true">personalLog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="friendlog-tab" data-toggle="tab"  href="#friendlog" role="tab" aria-controls="friendlog" aria-selected="false">friendLog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="globallog-tab" data-toggle="tab"  href="#globallog" role="tab" aria-controls="globallog" aria-selected="false">globalLog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="requestlog-tab" data-toggle="tab"  href="#requestlog" role="tab" aria-controls="requestlog" aria-selected="false">requestLog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="transferlog-tab" data-toggle="tab" href="#transferlog" role="tab" aria-controls="transferlog" aria-selected="false">transferLog</a>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active p-1" id="personallog" role="tabpanel" aria-labelledby="personallog-tab">
          <div class ="card-body">
            {% if personallog|length == 0%}
            No data.
            {% endif %}
            {% if personallog|length != 0%}
            <ul class="list-group list-group-flush">
              {% for elem in personallog %}
                {% set senderID = elem[0] %}
                {% set recipientID = elem[1] %}
                {% set amount = "{:.2f}".format(elem[2]) %}
                {% set date = elem[3] %}
                {% set date = date|string %}
                {% set date = date[0:10] %}
                {% set message = elem[4]%}
                {% set paymentID = elem[5] %}
                {% set privacy = elem[6] %}
                {% set tag = elem[7] %}
                {% set senderBalance = elem[8] %}
                {% set recipientBalance = elem[9] %}
                {% set status = elem[10]%}
                {% set sender = False %}
                {% if userID == senderID %}
                {% set sender = True %}
                {% endif %}
    
              {% if status == "_payment" %}
              <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col-md-1 mr-auto" >
                    <img id="paymentphoto" src="/static/user.png">
                  </div>
                  <div class="col-md-11 ml-auto">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><strong>{{ senderID }}</strong> paid <strong>{{ recipientID }}</strong>  $<strong>{{ amount }}</strong></h5>
                  {% if tag != None%}
                  <small>{{ date }}<br><span class="badge bg-primary rounded-pill float-right">{{tag}}</span></small>              
                  {% endif %}
                  {% if tag == None %}
                  <small>{{ date }}</small>  
                  {% endif %}
    
                </div>
                <p class="mb-1">{{message}}</p>
    
                {% if sender %}
                {% if privacy == "Public" %}
                <small>&#127758; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                {% endif %}
                {% if privacy == "Private" %}
                <small>&#128274; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                {% endif %}
                {% if privacy == "Friends Only" %}
                <small>&#128101; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                {% endif %}
    
                {% endif %}
    
                {% if not sender %}
                {% if privacy == "Public" %}
                <small>&#127758; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                {% endif %}
                {% if privacy == "Private" %}
                <small>&#128274; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                {% endif %}
                {% if privacy == "Friends Only" %}
                <small>&#128101; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                {% endif %}
                {% endif %}
              </div>
              </div>
              </a>
              {% endif %}
              {% if status == "request" %}
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><strong>{{ recipientID }}</strong> requested <strong>{{ senderID }}</strong> $<strong>{{ amount }}</strong></h5>
                  <small>{{ date }}<br><span id ="requesttag" class="badge bg-success rounded-pill float-right">request</span></small>              
                </div>
                <p class="mb-1">{{message}}</p>
                <small>Request ID: {{paymentID}}.</small>
              </a>
              {% endif %}
              {% if status == "transfer" %}
              <a href="#" class="list-group-item list-group-item-action">
    
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><strong>Bank Transfer</strong> initiated for $<strong>{{amount}}</strong>  </h5>
                  <small>{{ date }}<br><span id ="transfertag" class="badge bg-info rounded-pill float-right">transfer</span></small>              
                </div>
                {% set destination = "*****" + recipientID[5:] %}
                <small>Destination: {{destination}}.</small>
                <small>Transfer ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
    
              </a>
              {% endif %}
    
            {% endfor %}
            </ul>
            {% endif %}
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px">
              <strong>See Full personalLog</strong>
            </button>

      </div>
    
        </div>
        <div class="tab-pane fade show inactive p-1" id="friendlog" role="tabpanel" aria-labelledby="friendlog-tab">
          <h5 class="card-title">Friend Log</h5>
        </div>
        <div class="tab-pane fade show inactive p-1" id="globallog" role="tabpanel" aria-labelledby="globallog-tab">
          <h5 class="card-title">Global Log</h5>
        </div>
        <div class="tab-pane fade show inactive p-1" id="requestlog" role="tabpanel" aria-labelledby="requestlog-tab">
          <h5 class="card-title">Request Log</h5>
        </div>
        <div class="tab-pane fade show inactive p-1" id="transferlog" role="tabpanel" aria-labelledby="transferlog-tab">
          <h5 class="card-title">Transfer Log</h5>
        </div>


      </div>





      </div>

  </div>





  <div class="col-sm-5">

    <div class="card">
      <div class="card-header container-fluid">
        <div class="row">
          <div class="col-md-10.5">
          </div>
          <div class="col-md-1.5 ml-auto">
            <div class="outter-badge float-right"> 
              <img src="/static/settings_icon.png" alt="" height="40" onclick="window.location.href='/home'" >
            </div>
            <div class="outter-badge float-left"> 
              <img src="/static/bell.png" alt="" height="40" onclick="window.location.href='/home'" >
              {% if numrequests != 0 and numrequests < 100 %}
              <div class="circle" onclick="window.location.href='/home'">{{numrequests}}</div>
              {% endif %}
              {% if numrequests != 0 and numrequests >= 100 %}
              <div class="circle" onclick="window.location.href='/home'">99+</div>
              {% endif %}

          </div>

          </div>      
           </div>
        </div>
      

      <div class="card-body">
        {% if verified %}
        <h5 class="card-title"> <font size="+3">@{{userID}}</font> - verified user</h5>
        {% endif %}
        {% if not verified %}
        <h5 class="card-title"><font size="+3">@{{userID}}</font> - unverified user</h5>
        {% endif %}

        {% set firstchar = userID[0] %}
        {% if firstchar.isalpha() %}
        {% set firstchar = firstchar.upper() %}
        {% endif %}

          <img id="profilepic" src="/static/user.png">
        
        {% if numFriends == 1%}
        <h6 class="card-subtitle mb-2 text-muted">{{numFriends}} friend</h6>
        {% endif %}
        {% if numFriends != 1%}
        <h6 class="card-subtitle mb-2 text-muted">{{numFriends}} friends</h6>
        {% endif %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><font size="+2">$</font><font size="+3">{{"{:.2f}".format(balance)}}</font>  <br>In Venmo
            
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px">
              <strong>Transfer money</strong>
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px" onclick="window.location.href='/pay'">
              <strong>Pay or Request</strong>
            </button>
    

          </li>
  
          <li class="list-group-item">Account Fees: ${{"{:.2f}".format(fees)}}</li>
        </ul>
        <p class="card-text">Text.</p>
      </div>
      <div class="card-footer text-muted">
        With Venmo Since {{date}}
      </div>    
    </div>
  </div>
</div>

</body>
{% endblock %}
</html>
