<!DOCTYPE html>
<html>

  {% extends "layout.html" %}

  {% block title %}
      Homepage
  {% endblock %}
  

{% block main %}
<body>

<style>
      .outter-badge{
        cursor: pointer;
    }
    #profilepic {
      width: 100px;
      margin-bottom: 10px;
    }

    .badge
    {
      color:white;
      
    }
    
    #paymentphoto {
      width: 40px;
      min-width: 40px;
      margin-bottom: 5px;
      flex-shrink: 0;
    }

    .mb-1 {
      text-align:center;
    }

    #friendhref {
      text-decoration: none;
    }

    #deposithref {
      text-decoration: none;
    }

    .card:hover{
    transform:scale(1.01);
    }
    .card{
      transition:0.3s
    }

    .btn {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 10px;
    background-color: #00B1FF;
    color: white;
    border: 5px solid white;
    transition: border 0.2s ease;
  }
  .btn:hover {
    border: 5px solid #81D9FF;
    cursor: pointer;
    background-color: #00B1FF;
  }



#personallog-tab:not(.active) {
  background-color: transparent;
}
#friendlog-tab:not(.active) {
  background-color: transparent;
}

#globallog-tab:not(.active) {
  background-color: transparent;
}

#requestlog-tab:not(.active) {
  background-color: transparent;
}

#transferlog-tab:not(.active) {
  background-color: transparent;
}



#personallog-tab  {
  background-color: #00B1FF;
}
#friendlog-tab {
  background-color: #00B1FF;
}

#globallog-tab {
  background-color: #00B1FF;
}

#requestlog-tab {
  background-color: #00B1FF;
}

#transferlog-tab {
  background-color: #00B1FF;
}





</style>



<div class="row">


  <div class="col-md-5 order-1 order-md-2">

    <div class="card">
      <div class="card-header container-fluid">
        <div class="row">
          <div class="col-md-10.5">
          </div>
          <div class="col-md-1.5 ml-auto">
            <div class="outter-badge float-right"> 
              <img src="/static/settings_icon.png" alt="" height="40" onclick="window.location.href='/settings'" >
            </div>
            <div class="outter-badge float-left"> 
              <img src="/static/bell.png" alt="" height="40" onclick="window.location.href='/requests'" >
              {% if numrequests != 0 and numrequests < 100 %}
              <div class="circle" onclick="window.location.href='/requests'">{{numrequests}}</div>
              {% endif %}
              {% if numrequests != 0 and numrequests >= 100 %}
              <div class="circle" onclick="window.location.href='/requests'">99+</div>
              {% endif %}

          </div>

          </div>      
           </div>
        </div>
      

      <div class="card-body">
        {% if verified %}
        <h5 class="card-title"> <font size="+3">@{{userID}}</font> - verified user</h5>
        {% endif %}
        {% if not verified %}
        <h5 class="card-title"><font size="+3">@{{userID}}</font> - unverified user</h5>
        {% endif %}

        {% set firstchar = userID[0] %}
        {% if firstchar.isalpha() %}
        {% set firstchar = firstchar.upper() %}
        {% endif %}
          <img id="profilepic" src="/static/{{ firstchar }}.png">
        
        {% if numFriends == 1%}
        <h6 class="card-subtitle mb-2 text-muted"><a href="/social" id="friendhref">{{numFriends}} friend</a></h6>
        {% endif %}
        {% if numFriends != 1%}
        <h6 class="card-subtitle mb-2 text-muted"><a href="/social" id="friendhref">{{numFriends}} friends</a></h6>
        {% endif %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><font size="+2">$</font><font size="+3">{{"{:.2f}".format(balance)}}</font>  <br>In Venmo
            
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px" onclick="window.location.href='/transfer'">
              <strong>Transfer money</strong>
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px" onclick="window.location.href='/pay'">
              <strong>Pay or Request</strong>
            </button>
    

          </li>
  
          <li class="list-group-item">Account Fees: ${{"{:.2f}".format(fees)}}</li>
        </ul>
        {% if hasbank %}
        <p class="card-text mb-3">Account linked to bank: <strong>{{bankID}}</strong>.</p>
        <p class="card-text mt-0"><a id='deposithref' href="/deposit">Deposit money into your Venmo account.</a></p>
        {% endif %}
        {% if not hasbank %}
        <p class="card-text">Your account is not linked to a bank. Link a bank to deposit money into your account and transfer money out of your account.</p>        
        {% endif %}
      </div>
      <div class="card-footer text-muted">
        With Venmo Since {{date}}
      </div>    
    </div>
  </div>

  <div class="col-md-7 order-2 order-md-1">
    <div class="card">

      <div class="card-header">
        <ul class="nav nav-pills card-header-pills" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="personallog-tab" data-toggle="tab" href="#personallog" role="tab" aria-controls="personallog" aria-selected="true">personalLog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="friendlog-tab" data-toggle="tab"  href="#friendlog" role="tab" aria-controls="friendlog" aria-selected="false">friendLog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="globallog-tab" data-toggle="tab"  href="#globallog" role="tab" aria-controls="globallog" aria-selected="false">globalLog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="requestlog-tab" data-toggle="tab"  href="#requestlog" role="tab" aria-controls="requestlog" aria-selected="false">requestLog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="transferlog-tab" data-toggle="tab" href="#transferlog" role="tab" aria-controls="transferlog" aria-selected="false">transferLog</a>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active p-1" id="personallog" role="tabpanel" aria-labelledby="personallog-tab">
          <div class ="card-body">
            {% if personallog|length == 0%}
            No data here yet. Make some payments/transfers to fill this up!
            {% endif %}
            {% if personallog|length != 0%}
            <ul class="list-group list-group-flush">
              {% for elem in personallog %}
                {% set senderID = elem[0] %}
                {% set recipientID = elem[1] %}
                {% set amount = "{:.2f}".format(elem[2]) %}
                {% set date = elem[3] %}
                {% set date = date|string %}
                {% set date = date[0:10] %}
                {% set message = elem[4]%}
                {% set paymentID = elem[5] %}
                {% set privacy = elem[6] %}
                {% set tag = elem[7] %}
                {% set senderBalance = elem[8] %}
                {% set recipientBalance = elem[9] %}
                {% set status = elem[10]%}
                {% set sender = False %}
                {% if userID == senderID %}
                {% set sender = True %}
                {% endif %}
    
              {% if status == "_payment" %}
              <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col-2 col-lg-1 mr-auto" >
                    {% set firstchar = senderID[0] %}
                    {% if firstchar.isalpha() %}
                    {% set firstchar = firstchar.upper() %}
                    {% endif %}
                    <img id="paymentphoto" src="/static/{{ firstchar }}.png">
                  </div>
                  <div class="col-10 col-lg-11 ml-auto">
                <div class="d-flex w-100 justify-content-between">
                  {% if sender %}
                  <h5 class="mb-1"><strong>You</strong> paid <strong>{{ recipientID }}</strong>  <strong><font color="#cc4c4c">${{ amount }}</font></strong></h5>
                  {% endif %}
                  {% if not sender %}
                  <h5 class="mb-1"><strong>{{ senderID }}</strong> paid <strong>you</strong>  <strong><font color="#4b8b4e">${{ amount }}</font></strong></h5>
                  {% endif %}
                  {% if tag != None%}
                  <small>{{ date }}<br><span class="badge bg-primary rounded-pill float-right">{{tag}}</span></small>              
                  {% endif %}
                  {% if tag == None %}
                  <small>{{ date }}</small>  
                  {% endif %}
    
                </div>
                <p class="text-left mb-1">{{message}}</p>
    
                {% if sender %}
                {% if privacy == "Public" %}
                <small>&#127758; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                {% endif %}
                {% if privacy == "Private" %}
                <small>&#128274; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                {% endif %}
                {% if privacy == "Friends Only" %}
                <small>&#128101; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                {% endif %}
    
                {% endif %}
    
                {% if not sender %}
                {% if privacy == "Public" %}
                <small>&#127758; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                {% endif %}
                {% if privacy == "Private" %}
                <small>&#128274; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                {% endif %}
                {% if privacy == "Friends Only" %}
                <small>&#128101; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                {% endif %}
                {% endif %}
              </div>
              </div>
              </a>
              {% endif %}
              {% if status == "request" %}
              <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col-2 col-lg-1 mr-auto" >
                    {% set firstchar = recipientID[0] %}
                    {% if firstchar.isalpha() %}
                    {% set firstchar = firstchar.upper() %}
                    {% endif %}
                    <img id="paymentphoto" src="/static/{{ firstchar }}.png">
                  </div>
                  <div class="col-10 col-lg-11 ml-auto">
                    <div class="d-flex w-100 justify-content-between">
                      {% if sender %}
                      <h5 class="mb-1"><strong>{{ recipientID }}</strong> requested <strong>you</strong> $<strong>{{ amount }}</strong></h5>
                      {% endif %}
                      {% if not sender %}
                      <h5 class="mb-1"><strong>You</strong> requested <strong>{{ senderID }}</strong> $<strong>{{ amount }}</strong></h5>
                      {% endif %}
                      <small>{{ date }}<br><span id ="requesttag" class="badge bg-success rounded-pill float-right">request</span></small>              
                    
                    </div>

                    <p class="text-left mb-1">{{message}}</p>
                    <small>Request ID: {{paymentID}}.</small>
                    
                  </div>

                </div>
              </a>
                
              {% endif %}

              {% if status == "transfer" %}
              <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col-2 col-lg-1 mr-auto" >
                    <img id="paymentphoto" src="/static/bank.png">
                  </div>
                  <div class="col-10 col-lg-11 ml-auto">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><strong>Bank Transfer</strong> initiated for <strong><font color="#cc4c4c">${{ amount }}</font></strong>  </h5>
                  <small>{{ date }}<br><span id ="transfertag" class="badge bg-info rounded-pill float-right">transfer</span></small>              
                </div>
                {% set destination = "*****" + recipientID[5:] %}
                <small>Destination: {{destination}}.</small>
                <small>Transfer ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                </div>
              </div>
              </a>
              {% endif %}
    
            {% endfor %}
            </ul>
            {% endif %}
            <form action="/home" method="post">
            <button type="submit" name="logbutton" value='personal' class="btn btn-primary btn-lg btn-block" style="margin-top: 5px">
              <strong>See Full personalLog</strong>
            </button>
          </form>

      </div>
    
        </div>
        <div class="tab-pane fade show inactive p-1" id="friendlog" role="tabpanel" aria-labelledby="friendlog-tab">
          <div class ="card-body">
            {% if friendlog|length == 0%}
            No data here yet. Add some friends to fill this up!
            {% endif %}
            {% if friendlog|length != 0%}
            <ul class="list-group list-group-flush">
              {% for elem in friendlog %}
                {% set senderID = elem[0] %}
                {% set recipientID = elem[1] %}
                {% set amount = "{:.2f}".format(elem[2]) %}
                {% set date = elem[3] %}
                {% set date = date|string %}
                {% set date = date[0:10] %}
                {% set message = elem[4]%}
                {% set paymentID = elem[5] %}
                {% set privacy = elem[6] %}
                {% set tag = elem[7] %}
                {% set senderBalance = elem[8] %}
                {% set recipientBalance = elem[9] %}
                {% set status = elem[10]%}
                {% if userID == senderID or userID == recipientID %}
                {% set userinvolved = True %}
                {% endif %}
                {% if userinvolved %}
                {% set sender = False %}
                {% if userID == senderID %}
                {% set sender = True %}
                {% endif %}
                {% endif %}
    
              {% if status == "_payment" %}
              <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col-2 col-lg-1 mr-auto" >
                    {% set firstchar = senderID[0] %}
                    {% if firstchar.isalpha() %}
                    {% set firstchar = firstchar.upper() %}
                    {% endif %}
                    <img id="paymentphoto" src="/static/{{ firstchar }}.png">
                  </div>
                  <div class="col-10 col-lg-11 ml-auto">
                <div class="d-flex w-100 justify-content-between">
                  {% if not userinvolved %}
                  <h5 class="mb-1"><strong>{{ senderID }}</strong> paid <strong>{{ recipientID }}</strong>  $<strong>{{ amount }}</strong></h5>
                  {% endif %}
                  {% if userinvolved %}
                  {% if sender %}
                  <h5 class="mb-1"><strong>You</strong> paid <strong>{{ recipientID }}</strong>  <strong><font color="#cc4c4c">${{ amount }}</font></strong></h5>
                  {% else %}
                  <h5 class="mb-1"><strong>{{ senderID }}</strong> paid <strong>you</strong>  <strong><font color="#4b8b4e">${{ amount }}</font></strong></h5>
                  {% endif %}
                  {% endif %}
                  {% if tag != None%}
                  <small>{{ date }}<br><span class="badge bg-primary rounded-pill float-right">{{tag}}</span></small>              
                  {% endif %}
                  {% if tag == None %}
                  <small>{{ date }}</small>  
                  {% endif %}
    
                </div>
                <p class="mb-1">{{message}}</p>

                {% if not userinvolved %}
                {% if privacy == "Public" %}
                <small>&#127758; Payment ID: {{paymentID}}.</small>
                {% endif %}
                {% if privacy == "Private" %}
                <small>&#128274; Payment ID: {{paymentID}}.</small>
                {% endif %}
                {% if privacy == "Friends Only" %}
                <small>&#128101; Payment ID: {{paymentID}}.</small>
                {% endif %}
    
                {% endif %}
                
                {% if userinvolved %}
                {% if sender %}
                {% if privacy == "Public" %}
                <small>&#127758; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                {% endif %}
                {% if privacy == "Private" %}
                <small>&#128274; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                {% endif %}
                {% if privacy == "Friends Only" %}
                <small>&#128101; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                {% endif %}
    
                {% endif %}
    
                {% if not sender %}
                {% if privacy == "Public" %}
                <small>&#127758; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                {% endif %}
                {% if privacy == "Private" %}
                <small>&#128274; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                {% endif %}
                {% if privacy == "Friends Only" %}
                <small>&#128101; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                {% endif %}
                {% endif %}
                {% endif %}
              </div>
              </div>
              </a>
              {% endif %}
              {% if status == "request" %}
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><strong>{{ recipientID }}</strong> requested <strong>{{ senderID }}</strong> $<strong>{{ amount }}</strong></h5>
                  <small>{{ date }}<br><span id ="requesttag" class="badge bg-success rounded-pill float-right">request</span></small>              
                </div>
                <p class="mb-1">{{message}}</p>
                <small>Request ID: {{paymentID}}.</small>
              </a>
              {% endif %}
              {% if status == "transfer" %}
              <a href="#" class="list-group-item list-group-item-action">
    
                <div class="d-flex w-100 justify-content-between">
                  
                  <h5 class="mb-1"><strong>Bank Transfer</strong> initiated for <strong><font color="#cc4c4c">${{ amount }}</font></strong><  </h5>
                  <small>{{ date }}<br><span id ="transfertag" class="badge bg-info rounded-pill float-right">transfer</span></small>              
                </div>
                {% set destination = "*****" + recipientID[5:] %}
                <small>Destination: {{destination}}.</small>
                <small>Transfer ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
    
              </a>
              {% endif %}
    
            {% endfor %}
            </ul>
            {% endif %}
            <form action="/home" method="post">
            <button type="submit" name="logbutton" value='friend' class="btn btn-primary btn-lg btn-block" style="margin-top: 5px">
              <strong>See Full friendLog</strong>
            </button>
          </form>

      </div>

        </div>
        <div class="tab-pane fade show inactive p-1" id="globallog" role="tabpanel" aria-labelledby="globallog-tab">
          <div class ="card-body">
                {% if globallog|length == 0%}
                No data here yet.
                {% endif %}
                {% if globallog|length != 0%}
                <ul class="list-group list-group-flush">
                  {% for elem in globallog %}
                    {% set senderID = elem[0] %}
                    {% set recipientID = elem[1] %}
                    {% set amount = "{:.2f}".format(elem[2]) %}
                    {% set date = elem[3] %}
                    {% set date = date|string %}
                    {% set date = date[0:10] %}
                    {% set message = elem[4]%}
                    {% set paymentID = elem[5] %}
                    {% set privacy = elem[6] %}
                    {% set tag = elem[7] %}
                    {% set senderBalance = elem[8] %}
                    {% set recipientBalance = elem[9] %}
                    {% set status = elem[10]%}
                    {% if userID == senderID or userID == recipientID %}
                    {% set userinvolved = True %}
                    {% endif %}
                    {% if userinvolved %}
                    {% set sender = False %}
                    {% if userID == senderID %}
                    {% set sender = True %}
                    {% endif %}
                    {% endif %}
        
                  {% if status == "_payment" %}
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-2 col-lg-1 mr-auto" >
                        {% set firstchar = senderID[0] %}
                        {% if firstchar.isalpha() %}
                        {% set firstchar = firstchar.upper() %}
                        {% endif %}
                        <img id="paymentphoto" src="/static/{{ firstchar }}.png">
                      </div>
                      <div class="col-10 col-lg-11 ml-auto">
                    <div class="d-flex w-100 justify-content-between">
                      {% if not userinvolved %}
                      <h5 class="mb-1"><strong>{{ senderID }}</strong> paid <strong>{{ recipientID }}</strong>  $<strong>{{ amount }}</strong></h5>
                      {% endif %}
                      {% if userinvolved %}
                      {% if sender %}
                      <h5 class="mb-1"><strong>You</strong> paid <strong>{{ recipientID }}</strong>  <strong><font color="#cc4c4c">${{ amount }}</font></strong></h5>
                      {% else %}
                      <h5 class="mb-1"><strong>{{ senderID }}</strong> paid <strong>you</strong>  <strong><font color="#4b8b4e">${{ amount }}</font></strong></h5>
                      {% endif %}
                      {% endif %}
                          {% if tag != None%}
                      <small>{{ date }}<br><span class="badge bg-primary rounded-pill float-right">{{tag}}</span></small>              
                      {% endif %}
                      {% if tag == None %}
                      <small>{{ date }}</small>  
                      {% endif %}
        
                    </div>
                    <p class="mb-1">{{message}}</p>
    
                    {% if not userinvolved %}
                    {% if privacy == "Public" %}
                    <small>&#127758; Payment ID: {{paymentID}}.</small>
                    {% endif %}
                    {% if privacy == "Private" %}
                    <small>&#128274; Payment ID: {{paymentID}}.</small>
                    {% endif %}
                    {% if privacy == "Friends Only" %}
                    <small>&#128101; Payment ID: {{paymentID}}.</small>
                    {% endif %}
        
                    {% endif %}
                    
                    {% if userinvolved %}
                    {% if sender %}
                    {% if privacy == "Public" %}
                    <small>&#127758; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                    {% endif %}
                    {% if privacy == "Private" %}
                    <small>&#128274; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                    {% endif %}
                    {% if privacy == "Friends Only" %}
                    <small>&#128101; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
                    {% endif %}
        
                    {% endif %}
        
                    {% if not sender %}
                    {% if privacy == "Public" %}
                    <small>&#127758; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                    {% endif %}
                    {% if privacy == "Private" %}
                    <small>&#128274; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                    {% endif %}
                    {% if privacy == "Friends Only" %}
                    <small>&#128101; Payment ID: {{paymentID}}. Balance: ${{"{:.2f}".format(recipientBalance)}}.</small>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                  </div>
                  </div>
                  </a>
                  {% endif %}
                  {% if status == "request" %}
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><strong>{{ recipientID }}</strong> requested <strong>{{ senderID }}</strong> $<strong>{{ amount }}</strong></h5>
                      <small>{{ date }}<br><span id ="requesttag" class="badge bg-success rounded-pill float-right">request</span></small>              
                    </div>
                    <p class="mb-1">{{message}}</p>
                    <small>Request ID: {{paymentID}}.</small>
                  </a>
                  {% endif %}
                  {% if status == "transfer" %}
                  <a href="#" class="list-group-item list-group-item-action">
        
                    <div class="d-flex w-100 justify-content-between">
    
                      <h5 class="mb-1"><strong>Bank Transfer</strong> initiated for <strong><font color="#cc4c4c">${{ amount }}</font></strong>  </h5>
                      <small>{{ date }}<br><span id ="transfertag" class="badge bg-info rounded-pill float-right">transfer</span></small>              
                    </div>
                    {% set destination = "*****" + recipientID[5:] %}
                    <small>Destination: {{destination}}.</small>
                    <small>Transfer ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
        
                  </a>
                  {% endif %}
        
                {% endfor %}
                </ul>
                {% endif %}
                <form action="/home" method="post">
                <button type="submit" name="logbutton" value="global" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px">
                  <strong>See Full globalLog</strong>
                </button>
              </form>
    
          </div>
            </div>
        <div class="tab-pane fade show inactive p-1" id="requestlog" role="tabpanel" aria-labelledby="requestlog-tab">
          <div class ="card-body">
            {% if requestlog|length == 0%}
            No data here yet. Once you make/receive payment requests, you can see them here!
            {% endif %}
            {% if requestlog|length != 0%}
            <ul class="list-group list-group-flush">
            {% for elem in requestlog %}
        
                {% set senderID = elem[0] %}
                {% set recipientID = elem[1] %}
                {% set amount = "{:.2f}".format(elem[2]) %}
                {% set date = elem[3] %}
                {% set date = date|string %}
                {% set date = date[0:10] %}
                {% set status = elem[4]%}
                {% set message = elem[5] %}
                {% set tag = elem[6] %}
                {% set paymentID = elem[7] %}
                {% set sender = False %}
                {% if userID == senderID %}
                {% set sender = True %}
                {% endif %}

    
            <a href="#" class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-2 col-lg-1 mr-auto" >
                  {% set firstchar = recipientID[0] %}
                  {% if firstchar.isalpha() %}
                  {% set firstchar = firstchar.upper() %}
                  {% endif %}

                  <img id="paymentphoto" src="/static/{{ firstchar }}.png">
                </div>
                <div class="col-10 col-lg-11 ml-auto">
                  <div class="d-flex w-100 justify-content-between">
                    {% if sender%}
                    <h5 class="mb-1"><strong>{{ recipientID }}</strong> requested <strong>you</strong> $<strong>{{ amount }}</strong></h5>
                    {% else %}
                    <h5 class="mb-1"><strong>You</strong> requested <strong>{{ senderID }}</strong> $<strong>{{ amount }}</strong></h5>
                    {% endif %}
                    {% if status == "request" %}
                    <small>{{ date }}<br><span id ="requesttag" class="badge bg-warning rounded-pill float-right">pending</span></small>              
                    {% endif %}

                    {% if status == "denied_request" %}
                    <small>{{ date }}<br><span id ="requesttag" class="badge bg-danger rounded-pill float-right">denied</span></small>              
                    {% endif %}

                    {% if status == "accepted_request" %}
                    <small>{{ date }}<br><span id ="requesttag" class="badge bg-success rounded-pill float-right">accepted</span></small>              
                    {% endif %}

                  </div>

                  <p class="text-left mb-1">{{message}}</p>
                  <small>Request ID: {{paymentID}}.</small>
                  
                </div>

              </div>
            </a>
            {% endfor %}
          </ul>
            {% endif %}
            <form action="/home" method="post">
            <button type="submit" name="logbutton" value='request' class="btn btn-primary btn-lg btn-block" style="margin-top: 5px">
              <strong>See Full requestLog</strong>
            </button>
          </form>
            </div>
        </div>
        <div class="tab-pane fade show inactive p-1" id="transferlog" role="tabpanel" aria-labelledby="transferlog-tab">
          <div class ="card-body">
            {% if transferlog|length == 0%}
            No data here yet. Once you make bank transfers, you can see them here!
            {% endif %}
            {% if transferlog|length != 0%}
            <ul class="list-group list-group-flush">
              {% for elem in transferlog %}
              
                {% set senderID = elem[0] %}
                {% set recipientID = elem[1] %}
                {% set amount = "{:.2f}".format(elem[2]) %}
                {% set date = elem[3] %}
                {% set date = date|string %}
                {% set date = date[0:10] %}
                {% set paymentID = elem[4] %}
                {% set senderBalance = elem[5] %}
                {% set message = elem[6] %}
                
            <a href="#" class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-2 col-lg-1 mr-auto" >
                  <img id="paymentphoto" src="/static/bank.png">
                </div>
                <div class="col-10 col-lg-11 ml-auto">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><strong>Bank Transfer</strong> initiated for <strong><font color="#cc4c4c">${{ amount }}</font></strong>  </h5>
                {% if message == "No Fee Transfer" %}
                <small>{{ date }}<br><span id ="transfertag" class="badge bg-success rounded-pill float-right">no fee transfer</span></small>   
                {% endif %}
                {% if message == "Instant Transfer" %}
                <small>{{ date }}<br><span id ="transfertag" class="badge bg-warning rounded-pill float-right">instant transfer</span></small>   
                {% endif %}           
              </div>
              {% set destination = "*****" + recipientID[5:] %}
              <small>Destination: {{destination}}.</small>
              <small>Transfer ID: {{paymentID}}. Balance: ${{"{:.2f}".format(senderBalance)}}.</small>
            </div>
          </div>
            </a>
            {% endfor %}
            {% endif %}
            <form action="/home" method="post">
            <button type="submit" name="logbutton" value="transfer" class="btn btn-primary btn-lg btn-block" style="margin-top: 5px">
              <strong>See Full transferLog</strong>
            </button>
           </form>
            </div>
        </div>


      </div>





      </div>

  </div>




</div>

</body>
{% endblock %}
</html>
