<!DOCTYPE html>
<html lang="en">

        

{% extends "layout.html" %}

{% block title %}
    Venmo Project
{% endblock %}

{% block main %}

    <script>
        //waits for page to be loaded
        document.addEventListener('DOMContentLoaded', function() {

// Select the submit button and input to be used later
const submit = document.getElementById("submitbutton");
const usernameinput = document.querySelector("div.form-group input[name='username']");
const Password = document.querySelector("div.form-group input[name='password']");

// Disable submit button by default:
submit.disabled = true;

// Listen for input to be typed into the input field
usernameinput.onkeyup = () => {
    if ((usernameinput.value.length > 0) && Password.value.length > 0) {
        submit.disabled = false;
    }
    else {
        submit.disabled = true;
    }

    if ((usernameinput.value.length > 2) || Password.value.length > 2) {
        document.getElementById("error_code").innerHTML = '';

    }


    }

    

Password.onkeyup = () => {
    if ((usernameinput.value.length > 0) && Password.value.length > 0) {
        submit.disabled = false;
        document.getElementById("error_code").innerHTML = '';
    }
    else {
        submit.disabled = true;
    }

    if ((usernameinput.value.length > 2) || Password.value.length > 2) {
        document.getElementById("error_code").innerHTML = '';

    }

    }
    

});
    </script>

    <blockquote class="blockquote">
    <p>Venmo</p>
    </blockquote>
    
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" id = "submitbutton" name="loginbutton" type="submit" >Log In</button>
    </form>
    <blockquote id="error_code" class="blockquote">
        <p>{{ errorcode }}</p>
    </blockquote>

    </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>Don't have an account? Click <a href="/register">here</a> to sign up.</p>
            </blockquote>
        </div>
    </div>
      
{% endblock %}


</html>