{% extends "layout.html" %}

{% block title %}
    Pay or Request
{% endblock %}

{% block main %}

<script>
    //waits for page to be loaded
    document.addEventListener('DOMContentLoaded', function() {

// Select the submit button and input to be used later
const submit = document.getElementById("submitbutton");
//pay or request dropdown
const payorrequest = document.getElementById("payorrequest");
//privacy dropdown
const privacy = document.getElementById("privacy");
//username input
const userName = document.getElementById("username");
//amount input
const Amount = document.getElementById("amount");
//privacy message
const privacymessage = document.getElementById("privacyinfo")
// message
const message = document.getElementById("message")

// Disable submit & privacy button by default:
submit.disabled = true;
privacy.disabled = true;

// Listen for input to be typed into the input field
userName.onkeyup = () => {
var check1 = false;
var check2 = false;
var check3 = false;
if ((payorrequest.value == "Pay" && privacy.value != "No Selection") || payorrequest.value == "Request"){
check1 = true;
}
if (!isNaN(Amount.value)){
    check2 = true;
}
if (Amount.value.toString().length > 0 && message.value.length > 0 && userName.value.length > 0){
    check3 = true;
}

if (check1 && check2 && check3){
    submit.disabled = false;
}
else{
    submit.disabled = true;
}

}

message.onkeyup = () => {
var check1 = false;
var check2 = false;
var check3 = false;
if ((payorrequest.value == "Pay" && privacy.value != "No Selection") || payorrequest.value == "Request"){
check1 = true;
}
if (!isNaN(Amount.value)){
    check2 = true;
}
if (Amount.value.toString().length > 0 && message.value.length > 0 && userName.value.length > 0){
    check3 = true;
}

if (check1 && check2 && check3){
    submit.disabled = false;
}
else{
    submit.disabled = true;
}

}

privacy.onchange = () => {
    if (privacy.value == "Private") {
        privacymessage.innerHTML = ('This payment can be viewed by the sender and recipient only.')
    }
    if (privacy.value == "Public") {
        privacymessage.innerHTML = ('This payment can be viewed by anyone on Venmo.')        
    }
    if (privacy.value == "Friends Only") {
        privacymessage.innerHTML = ('This payment can be viewed by friends of the sender and recipient.')        
    }

    var check1 = false;
var check2 = false;
var check3 = false;
if ((payorrequest.value == "Pay" && privacy.value != "No Selection") || payorrequest.value == "Request"){
check1 = true;
}
if (!isNaN(Amount.value)){
    check2 = true;
}
if (Amount.value.toString().length > 0 && message.value.length > 0 && userName.value.length > 0){
    check3 = true;
}

if (check1 && check2 && check3){
    submit.disabled = false;
}
else{
    submit.disabled = true;
}


}

Amount.onkeyup = () => {

    var check1 = false;
var check2 = false;
var check3 = false;
if ((payorrequest.value == "Pay" && privacy.value != "No Selection") || payorrequest.value == "Request"){
check1 = true;
}
if (!isNaN(Amount.value)){
    check2 = true;
}
if (Amount.value.toString().length > 0 && message.value.length > 0 && userName.value.length > 0){
    check3 = true;
}

if (check1 && check2 && check3){
    submit.disabled = false;
}
else{
    submit.disabled = true;
}


}

payorrequest.onchange = () => {
    if (payorrequest.value == "Pay") {
        privacy.disabled = false;
        if (privacy.value == "No Selection") {
            privacymessage.innerHTML = ''
        }
    }

    if (payorrequest.value == "Request") {
        if (privacy.value != "No Selection") {
            privacy.value = "No Selection"
        }
        privacy.disabled = true;
        privacymessage.innerHTML = ('Requests do not have a privacy setting.')
    }

    var check1 = false;
var check2 = false;
var check3 = false;
if ((payorrequest.value == "Pay" && privacy.value != "No Selection") || payorrequest.value == "Request"){
check1 = true;
}
if (!isNaN(Amount.value)){
    check2 = true;
}
if (Amount.value.toString().length > 0 && message.value.length > 0 && userName.value.length > 0){
    check3 = true;
}

if (check1 && check2 && check3){
    submit.disabled = false;
}
else{
    submit.disabled = true;
}


}

});
</script>



    <form action="/pay" method="post" class="needs-validation" novalidate>

        <div class="form-row">
            <div class="col-md-4 mb-3">
            </div>
            <div class="col-md-4 mb-3">
                <select class="custom-select custom-select-lg my-1 mr-sm-2" id="payorrequest">
                  <option disabled selected value="">Select Payment or Request</option>
                  <option value="Pay">Pay</option>
                  <option value="Request">Request</option>
                </select>             
            </div>
            <div class="col-md-4 mb-3">
            </div>
          </div>


        <div class="form-row">
            <div class="col-md-4 mb-3">
            </div>
            <div class="col-md-4 mb-3">
                <div class = "input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="amountPrepend">$</span>
              </div>
              <input type="number" class="form-control" id="amount" placeholder="0.00" autocomplete="off" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            </div>
            <div class="col-md-4 mb-3">
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 mb-3">
            </div>
            <div class="col-md-4 mb-3">
                <div class = "input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="usernamePrepend">@</span>
              </div>
              <input type="text" class="form-control" id="username" autocomplete="off" placeholder="Username" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            </div>
            <div class="col-md-4 mb-3">
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 mb-3">
            </div>
            <div class="col-md-4 mb-3">
                <div class = "input-group">
              <textarea class="form-control" id="message" rows="3" autocomplete="off" placeholder="Message" required></textarea>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            </div>
            <div class="col-md-4 mb-3">
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 mb-3">
            </div>
            <div class="col-md-4 mb-3">
                <select class="custom-select my-1 mr-sm-2" id="privacy">
                    <option disabled selected value="No Selection">Select Privacy</option>
                    <option value="Private">&#128274; Private</option>
                    <option value="Friends Only">&#128101; Friends Only</option>
                    <option value="Public">&#127758; Public</option>
                  </select>
                  <p class="text-center"><small id="privacyinfo"></small></p>
            </div>
            <div class="col-md-4 mb-3">
            </div>
          </div>


          <div class="form-row">
            <div class="col-md-4 mb-3">
            </div>
            <div class="col-md-4 mb-3">
                <div class = "input-group">
              <input type="text" class="form-control" id="tag" placeholder="Tag" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            </div>
            <div class="col-md-4 mb-3">
            </div>
          </div>

          <button id= "submitbutton" class="btn btn-primary" type="submit">Submit Form</button>
            </form>

{% endblock %}
