{% extends "layout.html" %}

{% block title %}
    Requests
{% endblock %}

{% block main %}

<body>

<style>
    .outter-badge{
      cursor: pointer;
  }
  #profilepic {
    width: 100px;
    margin-bottom: 10px;
  }

  .badge
  {
    color:white;
    
  }
  
  #paymentphoto {
    width: 40px;
    min-width: 40px;
    margin-bottom: 5px;
    flex-shrink: 0;
  }

  .mb-1 {
    text-align:center;
  }

  .card:hover{
    transform:scale(1.01);
    }
    .card{
      transition:0.3s
    }


</style>

    

    {% if message|length > 0 %}
    {% if message[0] == 'S' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" me-2>
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    {% if message[0] == 'D' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    {% if message[0] == '_' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message[1:]}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}


    {% endif %}

<div class="row"> 
<div class="col-md-7">

    <div class="card">

        <div class="card-header container-fluid">
            <h2 class="card-title">Payment Requests</h2>
        </div>

        <div class="card-body">
            {% if paymentrequests|length == 0%}
                You don't have any incoming payment requests right now.
            {% endif %}
            {% if paymentrequests|length != 0 %}
            <ul class="list-group list-group-flush">
                {% for elem in paymentrequests %}
                {% set senderID = elem[0]%}
                {% set recipientID = elem[1]%}
                {% set amount = "{:.2f}".format(elem[2]) %}
                {% set date = elem[3] %}
                {% set date = date|string %}
                {% set date = date[0:10] %}
                {% set message = elem[4] %}
                {% set requestID = elem[5] %}
                {% set tag = elem[6] %}
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-2 col-lg-1 mr-auto" >
                        {% set firstchar = recipientID[0] %}
                        {% if firstchar.isalpha() %}
                        {% set firstchar = firstchar.upper() %}
                        {% endif %}    
                        <img id="paymentphoto" src="/static/{{ firstchar }}.png">
                      </div>
                      <div class="col-7 col-lg-9 ml-auto">
                        <div class="d-flex w-100 justify-content-between">
                          
                          <h5 class="mb-1"><strong>{{ recipientID }}</strong> requested <strong>{{ senderID }}</strong> $<strong>{{ amount }}</strong></h5>
                          {% if tag != None%}
                          <small>{{ date }}<br><span class="badge bg-primary rounded-pill float-right">{{tag}}</span></small>              
                          {% endif %}
                          {% if tag == None %}
                          <small>{{ date }}</small>  
                          {% endif %}
        
                        </div>
    
                        <p class="text-left mb-1">{{message}}</p>
                        <small>Request ID: {{requestID}}.</small>
                        
                      </div>

                      <div class="col-3 col-lg-2 ml-auto">
                        <form action="/requests" method="post">
                            <button type="submit" name = "submitbutton" value = "accept-{{ requestID }}" class="btn btn-outline-success mb-2">Accept</button>
                            <button type="submit" name = "submitbutton" value = "deny-{{ requestID }}" class="btn btn-outline-danger">Reject</button>
                        </form>                          
                      </div>
    
                    </div>
                  </a>
                        {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>


</div>


<div class="col-md-5">

  <div class="card">

    <div class="card-header container-fluid">
            <h2 class="card-title">Friend Requests</h2>
    </div>

    <div class="card-body">

      {% if friendrequests|length == 0%}
                You don't have any friend requests right now.
            {% endif %}
            {% if friendrequests|length != 0 %}
            <ul class="list-group list-group-flush">
                {% for elem in friendrequests %}
                {% set friendID = elem%}
                {% set firstchar = friendID[0] %}
                {% if firstchar.isalpha() %}
                {% set firstchar = firstchar.upper() %}
                {% endif %}

      
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-2 col-lg-1 mr-auto" >
                        <img id="paymentphoto" src="/static/{{ firstchar }}.png">
                      </div>
                      <div class="col-7 col-lg-9 ml-auto">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1"><strong>{{ friendID }}</strong> sent you a friend request.</h5>          
                        
                        </div>
                        
                      </div>

                      <div class="col-3 col-lg-2 ml-auto">
                        <form action="/requests" method="post">
                            <button type="submit" name = "submitbutton" value = "acceptfriend-{{ friendID }}" class="btn btn-outline-success mb-2">Accept</button>
                            <button type="submit" name = "submitbutton" value = "denyfriend-{{ friendID }}" class="btn btn-outline-danger">Reject</button>
                        </form>                          
                      </div>
    
                    </div>
                  </a>
                        {% endfor %}
            </ul>
            {% endif %}

    </div>
    

</div>

</div>



</div>
</div>   

</body>

{% endblock %}
