{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}


<body>


{% block main %}



<script>
    
    function checkpassword(password) {
    //order: length, lowercase, 
var checks = [false,false,false,false];

if (password.length == 0) {
    return checks;
}

if (password.length >= 8) {
    checks[0] = true;
}

var lowercase = new RegExp(
          "^(?=.*[a-z]).+$"
        );
var uppercase = new RegExp(
          "^(?=.*[A-Z]).+$"
        );
var number = new RegExp(
          "^(?=.*\\d).+$"
        );

if (lowercase.test(password)) {
    checks[1] = true;
}

if (uppercase.test(password)) {
    checks[2] = true;
}

if (number.test(password)) {
    checks[3] = true;
}

return checks;

}


    document.addEventListener('DOMContentLoaded', function() {
    
const verify = document.getElementById("verifyaccount");
const changebank = document.getElementById("changebank");
const privacy = document.getElementById("privacy");
const currentpasswordinp = document.getElementById("currentpassword");
const newpassword = document.getElementById("newpassword");
const confirmnewpassword = document.getElementById("confirmnewpassword");
const savebutton = document.getElementById("submitbutton");
const cancelbutton = document.getElementsByName("cancel")[0];
const currPrivacy = '{{ privacy }}';

savebutton.disabled = true;
cancelbutton.disabled = true;

verify.onkeyup = () => {
    var check1 = false;
if ((verify.value.toString().length == 9 && !isNaN(verify.value) && (verify.value > 0)) || verify.value.toString().length == 0) {
    check1 = true;
}
var check2 = false;
if ((changebank.value.toString().length == 9 && !isNaN(changebank.value) && changebank.value > 0) || changebank.value.toString().length == 0) {
    check2 = true;
}
var check3 = false;
var checks = checkpassword(currentpasswordinp.value)
if ((checks[0] && checks[1] && checks[2] && checks[3]) || currentpasswordinp.value.length == 0) {
    check3 = true;
}

var check4 = false;
var checks_ = checkpassword(newpassword.value)
if ((checks_[0] && checks_[1] && checks_[2] && checks_[3] && checks[0] && checks[1] && checks[2] && checks[3] && newpassword.value==confirmnewpassword.value) || confirmnewpassword.value.length == 0 && newpassword.value.length == 0 && currentpasswordinp.value.length == 0) {
    check4 = true;
}
var check5 = true;
if (verify.value.length == 0 && changebank.value.length == 0 && (privacy.value == "No Selection" || privacy.value == currPrivacy) && currentpasswordinp.value.length == 0 && newpassword.value.length == 0 && confirmnewpassword.value.length == 0) {
    check5= false;
}

if (check1 && check2 && check3 && check4 && check5) {
savebutton.disabled = false;
cancelbutton.disabled = false;
}
else {
    savebutton.disabled = true;
cancelbutton.disabled = true;

}
}

changebank.onkeyup = () => {
    var check1 = false;
if ((verify.value.toString().length == 9 && !isNaN(verify.value) && (verify.value > 0)) || verify.value.toString().length == 0) {
    check1 = true;
}
var check2 = false;
if ((changebank.value.toString().length == 9 && !isNaN(changebank.value) && changebank.value > 0) || changebank.value.toString().length == 0) {
    check2 = true;
}
var check3 = false;
var checks = checkpassword(currentpasswordinp.value)
if ((checks[0] && checks[1] && checks[2] && checks[3]) || currentpasswordinp.value.length == 0) {
    check3 = true;
}

var check4 = false;
var checks_ = checkpassword(newpassword.value)
if ((checks_[0] && checks_[1] && checks_[2] && checks_[3] && checks[0] && checks[1] && checks[2] && checks[3] && newpassword.value==confirmnewpassword.value) || confirmnewpassword.value.length == 0 && newpassword.value.length == 0 && currentpasswordinp.value.length == 0) {
    check4 = true;
}
var check5 = true;
if (verify.value.length == 0 && changebank.value.length == 0 && (privacy.value == "No Selection" || privacy.value == currPrivacy) && currentpasswordinp.value.length == 0 && newpassword.value.length == 0 && confirmnewpassword.value.length == 0) {
    check5= false;
}

if (check1 && check2 && check3 && check4 && check5) {
savebutton.disabled = false;
cancelbutton.disabled = false;
}
else {
    savebutton.disabled = true;
cancelbutton.disabled = true;

}
}

privacy.onchange = () => {
    var check1 = false;
if ((verify.value.toString().length == 9 && !isNaN(verify.value) && (verify.value > 0)) || verify.value.toString().length == 0) {
    check1 = true;
}
var check2 = false;
if ((changebank.value.toString().length == 9 && !isNaN(changebank.value) && changebank.value > 0) || changebank.value.toString().length == 0) {
    check2 = true;
}
var check3 = false;
var checks = checkpassword(currentpasswordinp.value)
if ((checks[0] && checks[1] && checks[2] && checks[3]) || currentpasswordinp.value.length == 0) {
    check3 = true;
}

var check4 = false;
var checks_ = checkpassword(newpassword.value)
if ((checks_[0] && checks_[1] && checks_[2] && checks_[3] && checks[0] && checks[1] && checks[2] && checks[3] && newpassword.value==confirmnewpassword.value) || confirmnewpassword.value.length == 0 && newpassword.value.length == 0 && currentpasswordinp.value.length == 0) {
    check4 = true;
}
var check5 = true;
if (verify.value.length == 0 && changebank.value.length == 0 && (privacy.value == "No Selection" || privacy.value == currPrivacy) && currentpasswordinp.value.length == 0 && newpassword.value.length == 0 && confirmnewpassword.value.length == 0) {
    check5= false;
}

if (check1 && check2 && check3 && check4 && check5) {
savebutton.disabled = false;
cancelbutton.disabled = false;
}
else {
    savebutton.disabled = true;
cancelbutton.disabled = true;

}
}

currentpasswordinp.onkeyup = () => {
    var check1 = false;
if ((verify.value.toString().length == 9 && !isNaN(verify.value) && (verify.value > 0)) || verify.value.toString().length == 0) {
    check1 = true;
}
var check2 = false;
if ((changebank.value.toString().length == 9 && !isNaN(changebank.value) && changebank.value > 0) || changebank.value.toString().length == 0) {
    check2 = true;
}
var check3 = false;
var checks = checkpassword(currentpasswordinp.value)
if ((checks[0] && checks[1] && checks[2] && checks[3]) || currentpasswordinp.value.length == 0) {
    check3 = true;
}

var check4 = false;
var checks_ = checkpassword(newpassword.value)
if ((checks_[0] && checks_[1] && checks_[2] && checks_[3] && checks[0] && checks[1] && checks[2] && checks[3] && newpassword.value==confirmnewpassword.value) || confirmnewpassword.value.length == 0 && newpassword.value.length == 0 && currentpasswordinp.value.length == 0) {
    check4 = true;
}
var check5 = true;
if (verify.value.length == 0 && changebank.value.length == 0 && (privacy.value == "No Selection" || privacy.value == currPrivacy) && currentpasswordinp.value.length == 0 && newpassword.value.length == 0 && confirmnewpassword.value.length == 0) {
    check5= false;
}

if (check1 && check2 && check3 && check4 && check5) {
savebutton.disabled = false;
cancelbutton.disabled = false;
}
else {
    savebutton.disabled = true;
cancelbutton.disabled = true;

}
}

newpassword.onkeyup = () => {
    var check1 = false;
if ((verify.value.toString().length == 9 && !isNaN(verify.value) && (verify.value > 0)) || verify.value.toString().length == 0) {
    check1 = true;
}
var check2 = false;
if ((changebank.value.toString().length == 9 && !isNaN(changebank.value) && changebank.value > 0) || changebank.value.toString().length == 0) {
    check2 = true;
}
var check3 = false;
var checks = checkpassword(currentpasswordinp.value)
if ((checks[0] && checks[1] && checks[2] && checks[3]) || currentpasswordinp.value.length == 0) {
    check3 = true;
}

var check4 = false;
var checks_ = checkpassword(newpassword.value)
if ((checks_[0] && checks_[1] && checks_[2] && checks_[3] && checks[0] && checks[1] && checks[2] && checks[3] && newpassword.value==confirmnewpassword.value) || confirmnewpassword.value.length == 0 && newpassword.value.length == 0 && currentpasswordinp.value.length == 0) {
    check4 = true;
}
var check5 = true;
if (verify.value.length == 0 && changebank.value.length == 0 && (privacy.value == "No Selection" || privacy.value == currPrivacy) && currentpasswordinp.value.length == 0 && newpassword.value.length == 0 && confirmnewpassword.value.length == 0) {
    check5= false;
}

if (check1 && check2 && check3 && check4 && check5) {
savebutton.disabled = false;
cancelbutton.disabled = false;
}
else {
    savebutton.disabled = true;
cancelbutton.disabled = true;

}
}

confirmnewpassword.onkeyup = () => {
    var check1 = false;
if ((verify.value.toString().length == 9 && !isNaN(verify.value) && (verify.value > 0)) || verify.value.toString().length == 0) {
    check1 = true;
}
var check2 = false;
if ((changebank.value.toString().length == 9 && !isNaN(changebank.value) && changebank.value > 0) || changebank.value.toString().length == 0) {
    check2 = true;
}
var check3 = false;
var checks = checkpassword(currentpasswordinp.value)
if ((checks[0] && checks[1] && checks[2] && checks[3]) || currentpasswordinp.value.length == 0) {
    check3 = true;
}

var check4 = false;
var checks_ = checkpassword(newpassword.value)
if ((checks_[0] && checks_[1] && checks_[2] && checks_[3] && checks[0] && checks[1] && checks[2] && checks[3] && newpassword.value==confirmnewpassword.value) || confirmnewpassword.value.length == 0 && newpassword.value.length == 0 && currentpasswordinp.value.length == 0) {
    check4 = true;
}
var check5 = true;
if (verify.value.length == 0 && changebank.value.length == 0 && (privacy.value == "No Selection" || privacy.value == currPrivacy) && currentpasswordinp.value.length == 0 && newpassword.value.length == 0 && confirmnewpassword.value.length == 0) {
    check5= false;
}

if (check1 && check2 && check3 && check4 && check5) {
savebutton.disabled = false;
cancelbutton.disabled = false;
}
else {
    savebutton.disabled = true;
cancelbutton.disabled = true;

}
}

});
    </script>

<style>

#submitbutton {
    display: inline-block;
    border-radius: 10px;
    background-color: #00B1FF;
    color: white;
    transition: border 0.2s ease;
    border: 5px solid white;

  }
  #submitbutton:disabled {
    display: inline-block;
    border-radius: 10px;
    background-color: #00B1FF;
    color: white;
    border: 5px solid white;
  }
  #cancelbutton {
    display: inline-block;
    border-radius: 10px;
    border: 5px solid white;
  }
  #cancelbutton:disabled {
    display: inline-block;
    border-radius: 10px;
    border: 5px solid white;
  }


</style>

{% if messages|length > 0 %}
{% if verification_worked != None %}

{% if verification_worked %}
<div class="alert alert-success alert-dismissible fade show" role="alert" me-2>
    {{messages['verified']}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if not verification_worked %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" me-2>
    {{messages['verified']}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

{% endif %}

{% if linkbank_worked != None %}
{% if linkbank_worked %}
<div class="alert alert-success alert-dismissible fade show" role="alert" me-2>
    {{messages['bank']}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if not linkbank_worked %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" me-2>
    {{messages['bank']}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% endif %}

{% if updatepriv_worked != None %}
{% if updatepriv_worked %}
<div class="alert alert-success alert-dismissible fade show" role="alert" me-2>
    {{messages['privacy']}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if not updatepriv_worked %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" me-2>
    {{messages['privacy']}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% endif %}

{% if changepass_worked != None %}
{% if changepass_worked %}
<div class="alert alert-success alert-dismissible fade show" role="alert" me-2>
    {{messages['password']}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if not changepass_worked %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" me-2>
    {{messages['password']}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% endif %}

{% endif %}



<div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4">

        <h3 class="text-center mt-3 mb-3">@{{userID}} - settings</h3>
        <form action="/settings" method="post">
            <div class="form-row mb-1 mr-2 ml-2">
                {% if verified %}
                {% if last_verified != 0 %}
                <small style="display: block;">Verify Account with SSN (last verified <strong>{{last_verified}}</strong> days ago).</small>
                {% endif %}
                {% if last_verified == 0 %}
                <small style="display: block;">Verify Account with SSN (last verified <strong>less than 1 day ago</strong>).</small>
                {% endif %}
                {% endif %}
                {% if not verified %}
                <small style="display: block;">Verify Account with Social Security Number</small>
                {% endif %}
                <div class = "input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="ssnprepend">SSN</span>
                    </div>
                <input type="text" class="form-control" id="verifyaccount" name="verifyaccount" placeholder="Verify Account" autocomplete="off">
                </div>
            </div>
            <div class="form-row mb-1 mt-3 mr-2 ml-2">
                {% if hasbank %}
                <small style="display: block;">Current Bank Account: <strong>{{bankID}}</strong></small>
                {% endif %}
                {% if not hasbank %}
                <small style="display: block;">Link your Venmo account to a Bank.</small>
                {% endif %}
                <div class = "input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="bankPrepend">Link New Bank</span>
                    </div>
                <input type="text" class="form-control" id="changebank" name="changebank" placeholder="New Bank ID" autocomplete="off">
                </div>
            </div>
            <div class="form-row mt-3 mr-2 ml-2">
                {% if privacy == '*' %}
                <small style="display: block;">Set Default Privacy</small>
                {% endif %}
                {% if privacy != '*' %}
                <small style="display: block;">Set Default Privacy (current default: <strong>{{privacy}}</strong>)</small>
                {% endif %}
                <select class="custom-select my-1 mr-sm-2" name="privacy" id="privacy">
                    {% if privacy == '*' %}
                    <option disabled selected value="No Selection">Select Privacy</option>
                    <option value="Private">&#128274; Private</option>
                    <option value="Friends Only">&#128101; Friends Only</option>
                    <option value="Public">&#127758; Public</option>
                    {% endif %}
                    {% if privacy != '*' %}
                    <option disabled value="No Selection">Select Privacy</option>
                    {% if privacy == "Private" %}
                    <option selected value="Private">&#128274; Private</option>
                    <option value="Friends Only">&#128101; Friends Only</option>
                    <option value="Public">&#127758; Public</option>
                    {% endif %}
                    {% if privacy == "Friends Only" %}
                    <option value="Private">&#128274; Private</option>
                    <option selected value="Friends Only">&#128101; Friends Only</option>
                    <option value="Public">&#127758; Public</option>
                    {% endif %}
                    {% if privacy == "Public" %}
                    <option value="Private">&#128274; Private</option>
                    <option value="Friends Only">&#128101; Friends Only</option>
                    <option selected value="Public">&#127758; Public</option>
                    {% endif %}
                    {% endif %}
                </select>
                  <p class="text-center"><small id="privacyinfo"></small></p>
            </div>
            <div class="form-row mb-1 mr-2 ml-2">
                <small style="display: block;">Change Password</small>
                <div class = "input-group mt-1">
                <input type="text" class="form-control" id="currentpassword" name="currentpassword" placeholder="Current Password" autocomplete="off">
                </div>
                <div class = "input-group mt-2">
                <input type="text" class="form-control" id="newpassword" name="newpassword" placeholder="New Password" autocomplete="off">
                <input type="text" class="form-control" id="confirmnewpassword" name="confirmnewpassword" placeholder="Confirm New Password" autocomplete="off">
                </div>

            </div>
            <div class="form-row mb-1 mt-2 mr-2 ml-2">
                        <button id= "submitbutton" name="save" class="btn btn-primary mr-2" value="save" type="submit" style="display:block;" >Save</button>
                        <button name="cancel" id="cancelbutton" type="button" class="btn btn-secondary float-end" value="cancel" type="submit" onclick="window.location.href='/settings'" >Cancel</button>
            </div>
        </form>

    </div>
    <div class="col-md-4"></div>


</div>

{% endblock %}
</body>